#page-editor-dialog {
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    background-color: lightgray;
    align-items: center;
}

#page-editor-dialog button {
    background-color: rgb(0, 128, 160);
    color: white;
    border-radius: 8px;
}

.area {
    position: absolute;
    border: 1px solid black;
}

.area:hover {
    border: 1px solid red;
}
